body{
    font-family: Arial;
    background-color: #C9F1F1;
}

.center sliding {
    color:#1B3D64;
    font-weight: bold;
}
#yun{
    fill:white;
}
.bubble
{
    position: absolute;
    left:500px;
    top:200px;
    width: 250px;
    height: 210px;
    padding: 20px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 5px;
    font-size:25px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 22px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -22px;
    top: 90px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 26px 19px 0;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    left: -31px;
    top: 86px;
}
#jingubang{
    height:200px;
    width:15px;
    background-color:yellow;
    position: absolute;
    top:250px;
    left:135px;
    transform: rotate(-30deg);
}
#jingubang-m{
    height:150px;
    width:15px;
    background-color: brown;
    position: relative;
    top:12%;
}

#quiz{
    width:287px;
    position: absolute;
    left: 500px;
    top: 130px;
    height:50px;
    border-radius: 5%;
    background-color:#1B3D64;
    color:white;
    font-weight: bold;
    font-size: medium;
}
#yn{
    position: absolute;
    left:555px;
    top:470px;
}

#yes,#no{
    background-color:#1B3D64;
    color:white;
    width:60px;
    height:30px;
    margin:15px;
}

#answer{
    height:80px;
    width:250px;
    border:1px solid black;
    color:black;
    position: absolute;
    left:510px;
    top:530px;
    font-size:20px;
    display:none;
    padding:20px;
}

.blink {
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}